name: Publish to GHCR

on:
  workflow_dispatch:  # This allows you to click a "Run" button manually

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }} # This will automaticall be YOUR_USERNAME/windows

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # IMPORTANT: This gives permission to upload to your registry

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
